.monaco-button {
    position: absolute;
    z-index: 100;
    top: 20px;
    left: 20px;
    background:white;
    border-radius: 50%;

    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
     svg {
        color: linear-gradient(90deg, #4a77e8 0%, #5282ff 58.05%);
     }
}