.room-size-input {
    height: 300px;
    width: 100%;
    padding: 8px 12px;

    &__input {
        width: 100%;
    }

    &__container {
        width: 100%;
    }

    &__inputs {
        margin-top: 20px;
        width: 100%;
    }
}